/* ******************* */
/* STYLE NORMALIZATION */
/* ******************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
  font-size: 1.8rem;
  background-color: white;
  /* rgb(254, 251, 198) */
}

/* ************************************** */
/* UNIVERSAL SETTINGS AND UTILITY CLASSES */
/* ************************************** */

section {
  padding: 10rem 0;
  border-bottom: 0.1rem solid #ccc;
}

a {
  text-decoration: none;
}

.section-heading {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

ul {
  list-style: none;
  padding-left: 1.6rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-flex-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.card {
  padding: 3rem;
  border-radius: 2.2rem;
  box-shadow: 0.2rem 0.3rem 1rem #ccc;
}

/* ***************** */
/* SPECIFIC SECTIONS */
/* ***************** */

/* HEADER */
.header {
  height: 10rem;
  align-items: center;
  padding: 0 6rem;
  box-shadow: 0rem 0.3rem 0.8rem #ccc;

  position: sticky;
  top: 0rem;

  background-color: inherit;

  z-index: 1;
}

.header-brand {
  font-size: 5.2rem;
}

/* Navigation bar */
.nav-bar {
  width: 50%;
}

.nav-link {
  font-size: 2rem;
  color: #555;
}

.external-links {
  width: 6rem;
}

.external-links .nav-link {
  font-size: 2.8rem;
}

/* HERO */

.self-intro {
  width: 50%;
}

.skills {
  width: 26%;
}

/* CERTIFICATES */

.certificate-list {
  padding: 5rem;
}

.certificate-li {
  align-items: start;
}

.certificate-contents {
  align-items: start;
  justify-content: start;
  gap: 3rem;
}

.certificate-icon {
  width: 3rem;
}

.certificate-icon img {
  width: 100%;
}

.course-name {
  font-weight: 700;
}

.issue-date {
  color: black;
  font-weight: 300;
}

.credential-link {
  padding: 0.5rem 1.6rem;
  border-radius: 2.2rem;
  border: 0.1rem solid #ccc;
  color: #555;
  transition: all 0.3s;
}

.credential-link:hover {
  color: black;
  border-color: #555;
}
