/* setup COMMENT */
#projects-ul {
  padding-bottom: 6rem;
}

.project-li {
  position: relative;
}

.project-slide-window {
  width: 45%;
  overflow: hidden;
  border-radius: 1rem;
}
.project-slide-window--odd {
  box-shadow: -0.5rem 0.5rem 1rem #ccc;
}
.project-slide-window--even {
  box-shadow: 0.5rem 0.5rem 1rem #ccc;
}

.project-slide-band {
  width: 1000%;
  display: flex;
}

.project-slide-band input {
  display: none;
}

.project-slide {
  width: 10%;
  transition: margin-left 1s;
}

.project-slide img {
  width: 100%;
  margin: auto;
  display: block;
}

/* manual navigation COMMENT */

.radio-btns {
  position: absolute;
  width: 45%;
  bottom: -3.5rem;
  display: flex;
  padding: 0 10rem;
  justify-content: space-around;
}

.radio-btn {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid #555;
  cursor: pointer;
  transition: background-color 0.3s;
}

.radio-btn:hover {
  background-color: #555;
}

/* automatic navigation COMMENT */

.navigation-auto {
  position: absolute;
  bottom: -3.5rem;
  width: 45%;
  display: flex;
  padding: 0 10rem;
  justify-content: space-around;
}

.navigation-auto div {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid #555;
}

/* PROJECT1 slide control COMMENT */
#project1-radio1:checked ~ .first-slide {
  margin-left: 0%;
}
#project1-radio2:checked ~ .first-slide {
  margin-left: -10%;
}
#project1-radio3:checked ~ .first-slide {
  margin-left: -20%;
}
#project1-radio4:checked ~ .first-slide {
  margin-left: -30%;
}
#project1-radio5:checked ~ .first-slide {
  margin-left: -40%;
}
#project1-radio6:checked ~ .first-slide {
  margin-left: -50%;
}

#project1-radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #555;
}
#project1-radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #555;
}
#project1-radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #555;
}
#project1-radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #555;
}
#project1-radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #555;
}
#project1-radio6:checked ~ .navigation-auto .auto-btn6 {
  background-color: #555;
}

/* PROJECT2 slide control COMMENT */
#project2-radio1:checked ~ .first-slide {
  margin-left: 0%;
}
#project2-radio2:checked ~ .first-slide {
  margin-left: -10%;
}
#project2-radio3:checked ~ .first-slide {
  margin-left: -20%;
}

#project2-radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #555;
}
#project2-radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #555;
}
#project2-radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #555;
}

/* PROJECT3 slide control COMMENT */
#project3-radio1:checked ~ .first-slide {
  margin-left: 0%;
}
#project3-radio2:checked ~ .first-slide {
  margin-left: -10%;
}

#project3-radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #555;
}
#project3-radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #555;
}

/* PROJECT4 slide control COMMENT */
#project4-radio1:checked ~ .first-slide {
  margin-left: 0%;
}
#project4-radio2:checked ~ .first-slide {
  margin-left: -10%;
}
#project4-radio3:checked ~ .first-slide {
  margin-left: -20%;
}

#project4-radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #555;
}
#project4-radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #555;
}
#project4-radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #555;
}

/* PROJECT5 slide control COMMENT */
#project5-radio1:checked ~ .first-slide {
  margin-left: 0%;
}
#project5-radio2:checked ~ .first-slide {
  margin-left: -10%;
}

#project5-radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #555;
}
#project5-radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #555;
}

/* PROJECT6 slide control COMMENT */
#project6-radio1:checked ~ .first-slide {
  margin-left: 0%;
}
#project6-radio2:checked ~ .first-slide {
  margin-left: -10%;
}

#project6-radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #555;
}
#project6-radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #555;
}
