/* Primary: #fffef7 */
/* Shade: #e6e5de */
/* Accent #4957f0 #252c78*/

/* #de8e32 */

/* ******************* */
/* STYLE NORMALIZATION */
/* ******************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
  font-size: 1.6rem;
  background-color: #fffef7;
}

/* ************************************** */
/* UNIVERSAL SETTINGS AND UTILITY CLASSES */
/* ************************************** */

section {
  padding: 10rem 0;
  border-bottom: 0.1rem solid #ccc;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(5rem);
}

a {
  text-decoration: none;
}

.section-heading {
  font-size: 3.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
  display: inline-block;
}

ul {
  list-style: none;
  padding-left: 1.6rem;
}

u {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.li-alignment-start {
  align-items: start;
}

.vertical-flex-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.vertical-gap-2 {
  gap: 1.6rem;
}
.vertical-gap-8 {
  gap: 8rem;
}

.card {
  padding: 3rem;
  border-radius: 2.2rem;
  box-shadow: 0.2rem 0.3rem 1rem #ccc;
}
.card-padding-5 {
  padding: 5rem;
}

.external-link {
  padding: 0.5rem 1.6rem;
  border-radius: 2.2rem;
  border: 0.1rem solid #ccc;
  color: #555;
  transition: all 0.3s;
}
.external-link:hover {
  color: black;
  border-color: #555;
}

/* ***************** */
/* SPECIFIC SECTIONS */
/* ***************** */

/* HEADER */
.header {
  height: 10rem;
  align-items: center;
  padding: 0 6rem;
  box-shadow: 0rem 0.3rem 0.8rem #ccc;

  position: sticky;
  top: 0rem;

  background-color: inherit;

  z-index: 1;
}

.header-brand {
  font-size: 5.2rem;
}

/* Navigation bar */
.nav-bar {
  width: 50%;
}

.nav-link {
  font-size: 2rem;
  color: #555;
}

.active-tab {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
}

.external-links {
  width: 6.2rem;
}

.external-links .nav-link {
  font-size: 2.8rem;
}

/* HERO */

.self-intro {
  width: 50%;
}

.resume {
  color: #4957f0;
  font-style: italic;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.skills {
  width: 26%;
}

/* CERTIFICATES */
.certificate-contents {
  align-items: start;
  justify-content: start;
  gap: 3rem;
}

.certificate-icon {
  width: 3rem;
}

.certificate-icon img {
  width: 100%;
}

.issue-date {
  color: black;
  font-weight: 300;
}

/* PROJECTS */

.project-slide-window {
  width: 45%;
}
.project-slide-window--odd {
  box-shadow: -0.5rem 0.5rem 1rem #ccc;
}
.project-slide-window--even {
  box-shadow: 0.5rem 0.5rem 1rem #ccc;
}

.project-slide-window img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

.project-introduction {
  width: 45%;
}

.project-name {
  margin-bottom: 3rem;
}

.project-specific-info {
  gap: 1.5rem;
  padding-left: 3rem;
}

.techs-used {
  font-weight: 700;
}

.project-buttons {
  margin-top: 2rem;
  justify-content: start;
  gap: 3rem;
}

/* FOOTER */
.footer {
  padding: 5rem 8rem 10rem;
}

.footer-navigation .nav-link {
  font-size: 1.6rem;
}
